In [3]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [155]:
def fixed_table(location):
    raw_data = pd.read_excel(location, sheet_name='Current - ii01', skiprows=4)
    
    # Kelompok Bank
    main_table_bank = pd.DataFrame(columns=['Aktiva Rupiah', 'Valuta Asing', 'Jumlah Aset'])

    # Kelompok Dati II (Rp dan Valas)
    main_table_dati = pd.DataFrame(columns=['Jumlah Aset'])

    for i in range(5, len(raw_data.columns)):
        ext_table_bank = pd.DataFrame({
            'Aktiva Rupiah': raw_data.iloc[3:7, i].values,
            'Valuta Asing': raw_data.iloc[9:13, i].values,
            'Jumlah Aset': raw_data.iloc[15:19, i].values
        })
        main_table_bank = pd.concat([main_table_bank, ext_table_bank], ignore_index=True)

        ext_table_dati = pd.DataFrame({
            'Jumlah Aset': raw_data.iloc[21:60, i].values
        })
        main_table_dati = pd.concat([main_table_dati, ext_table_dati], ignore_index=True)
    
    # Tanggal Kelompok Bank
    tanggal_bank = []
    start_date_bank = datetime(2023, 1, 1)
    for bulan_bank in range(13):
        tahun_bulan = start_date_bank.strftime('%Y-%m')
        tanggal_bank.extend([tahun_bulan] * 4)
        start_date_bank = (start_date_bank.replace(day=1) + timedelta(days=32)).replace(day=1)

    # Tanggal Kelompok Dati II
    tanggal_dati = []
    start_date_dati = datetime(2023, 1, 1)
    for bulan_dati in range(13):
        tahun_bulan = start_date_dati.strftime('%Y-%m')
        tanggal_dati.extend([tahun_bulan] * 39)
        start_date_dati = (start_date_dati.replace(day=1) + timedelta(days=32)).replace(day=1)
    
    # Tipe Komponen Kelompok Bank
    tipe_komponen_bank = ['Bank Pemerintah', 'Bank Swasta Nasional', 'Bank Asing dan Bank Campuran', 'Bank Perkreditan Rakyat']
    tipe_komponen_bank = 13 * tipe_komponen_bank

    # Tipe Komponen Kelompok Dati II
    tipe_komponen_dati = [vals for vals in raw_data.iloc[21:60, 2].values]
    tipe_komponen_dati = 13 * tipe_komponen_dati

    main_table_bank['Tanggal'] = tanggal_bank
    main_table_bank['Tipe Komponen'] = tipe_komponen_bank

    main_table_dati['Tanggal'] = tanggal_dati
    main_table_dati['Tipe Komponen'] = tipe_komponen_dati

    columns_bank = ['Tanggal', 'Tipe Komponen', 'Aktiva Rupiah', 'Valuta Asing', 'Jumlah Aset']
    main_table_bank = main_table_bank[columns_bank]

    columns_dati = ['Tanggal', 'Tipe Komponen', 'Jumlah Aset']
    main_table_dati = main_table_dati[columns_dati]

    # Export DataFrames
    with pd.ExcelWriter('Fixed Dataset.xlsx') as writer:
        main_table_bank.to_excel(writer, sheet_name='Kelompok Bank', index=False)
        main_table_dati.to_excel(writer, sheet_name='Kelompok Dati II', index=False)

    return f"Data has been exported to 'Kelompok Bank.xlsx' and 'Kelompok Dati II.xlsx"

In [156]:
fixed_table('./dataset/dataset.xlsx')

"Data has been exported to 'Kelompok Bank.xlsx' and 'Kelompok Dati II.xlsx"

# Cek Konsistensi Data

In [312]:
data_bank = pd.read_excel('./dataset/Fixed Dataset.xlsx', sheet_name='Kelompok Bank')

In [313]:
data_bank

,Tanggal,Tipe Komponen,Aktiva Rupiah,Valuta Asing,Jumlah Aset
0,2023-01,Bank Pemerintah,-,-,-
1,2023-01,Bank Swasta Nasional,-,-,-
2,2023-01,Bank Asing dan Bank Campuran,-,-,-
3,2023-01,Bank Perkreditan Rakyat,-,-,-
4,2023-02,Bank Pemerintah,31758241.074993,5102408.54521,36860649.620203
5,2023-02,Bank Swasta Nasional,2188718.890336,28326.759478,2217045.649814
6,2023-02,Bank Asing dan Bank Campuran,0,0,0
7,2023-02,Bank Perkreditan Rakyat,42956,-,42956
8,2023-03,Bank Pemerintah,13519088.454692,2464703.214567,15983791.669259
9,2023-03,Bank Swasta Nasional,1134558.791437,8987.888328,1143546.679765
10,2023-03,Bank Asing dan Bank Campuran,0,0,0
11,2023-03,Bank Perkreditan Rakyat,0,-,0
12,2023-04,Bank Pemerintah,13772465.239369,2432550.050125,16205015.289494
13,2023-04,Bank Swasta Nasional,1142001.3213,19832.089958,1161833.411258
14,2023-04,Bank Asing dan Bank Campuran,0,0,0
15,2023-04,Bank Perkreditan Rakyat,0,0,0
16,2023-05,Bank Pemerintah,13625706.80235,2491010.440929,16116717.243279
17,2023-05,Bank Swasta Nasional,1149062.565078,18996.079499,1168058.644577
18,2023-05,Bank Asing dan Bank Campuran,0,0,0
19,2023-05,Bank Perkreditan Rakyat,0,0,0
20,2023-06,Bank Pemerintah,13714059.897637,2519639.517656,16233699.415293
21,2023-06,Bank Swasta Nasional,1180373.034896,18629.300855,1199002.335751
22,2023-06,Bank Asing dan Bank Campuran,0,0,0
23,2023-06,Bank Perkreditan Rakyat,0,0,0
24,2023-07,Bank Pemerintah,13666444.706709,2440861.324595,16107306.031304
25,2023-07,Bank Swasta Nasional,1185713.124086,18375.328638,1204088.452724
26,2023-07,Bank Asing dan Bank Campuran,0,0,0
27,2023-07,Bank Perkreditan Rakyat,0,0,0
28,2023-08,Bank Pemerintah,-,-,-
29,2023-08,Bank Swasta Nasional,1,-,-
30,2023-08,Bank Asing dan Bank Campuran,-,-,-
31,2023-08,Bank Perkreditan Rakyat,-,-,-
32,2023-09,Bank Pemerintah,-,-,-
33,2023-09,Bank Swasta Nasional,-,-,-
34,2023-09,Bank Asing dan Bank Campuran,1,-,-
35,2023-09,Bank Perkreditan Rakyat,-,-,-
36,2023-10,Bank Pemerintah,1,-,-
37,2023-10,Bank Swasta Nasional,-,-,-
38,2023-10,Bank Asing dan Bank Campuran,-,-,-
39,2023-10,Bank Perkreditan Rakyat,-,-,-
40,2023-11,Bank Pemerintah,-,-,-
41,2023-11,Bank Swasta Nasional,-,-,-
42,2023-11,Bank Asing dan Bank Campuran,-,-,-
43,2023-11,Bank Perkreditan Rakyat,1,-,-
44,2023-12,Bank Pemerintah,13646465.592918,2446997.249847,16093462.842765
45,2023-12,Bank Swasta Nasional,1324794.842097,17574.3647,1342369.206797
46,2023-12,Bank Asing dan Bank Campuran,0,0,0
47,2023-12,Bank Perkreditan Rakyat,0,0,0
48,2024-01,Bank Pemerintah,13646465.592918,2446997.249847,16093462.842765
49,2024-01,Bank Swasta Nasional,1324794.842097,17574.3647,1342369.206797
50,2024-01,Bank Asing dan Bank Campuran,0,0,0
51,2024-01,Bank Perkreditan Rakyat,0,0,0

In [314]:
def fixed_datatype(data):
    data['Tanggal'] = pd.to_datetime(data['Tanggal']).dt.strftime('%Y-%m')
    idx = data['Aktiva Rupiah'][(data['Aktiva Rupiah'].str.contains('-') == True) | (data['Aktiva Rupiah'] == 0)].index
    data.loc[idx, ['Aktiva Rupiah', 'Valuta Asing', 'Jumlah Aset']] = None
    data['Valuta Asing'][data['Valuta Asing'].str.contains('-') == True] = None
    data['Jumlah Aset'][data['Jumlah Aset'].str.contains('-') == True] = None
    data[['Aktiva Rupiah', 'Valuta Asing', 'Jumlah Aset']] = data[['Aktiva Rupiah', 'Valuta Asing', 'Jumlah Aset']].astype(float).round(0)
    return data

In [315]:
fixed_datatype(data_bank)

,Tanggal,Tipe Komponen,Aktiva Rupiah,Valuta Asing,Jumlah Aset
0,2023-01,Bank Pemerintah,NaN,NaN,NaN
1,2023-01,Bank Swasta Nasional,NaN,NaN,NaN
2,2023-01,Bank Asing dan Bank Campuran,NaN,NaN,NaN
3,2023-01,Bank Perkreditan Rakyat,NaN,NaN,NaN
4,2023-02,Bank Pemerintah,31758241.0,5102409.0,36860650.0
5,2023-02,Bank Swasta Nasional,2188719.0,28327.0,2217046.0
6,2023-02,Bank Asing dan Bank Campuran,NaN,NaN,NaN
7,2023-02,Bank Perkreditan Rakyat,42956.0,NaN,42956.0
8,2023-03,Bank Pemerintah,13519088.0,2464703.0,15983792.0
9,2023-03,Bank Swasta Nasional,1134559.0,8988.0,1143547.0
10,2023-03,Bank Asing dan Bank Campuran,NaN,NaN,NaN
11,2023-03,Bank Perkreditan Rakyat,NaN,NaN,NaN
12,2023-04,Bank Pemerintah,13772465.0,2432550.0,16205015.0
13,2023-04,Bank Swasta Nasional,1142001.0,19832.0,1161833.0
14,2023-04,Bank Asing dan Bank Campuran,NaN,NaN,NaN
15,2023-04,Bank Perkreditan Rakyat,NaN,NaN,NaN
16,2023-05,Bank Pemerintah,13625707.0,2491010.0,16116717.0
17,2023-05,Bank Swasta Nasional,1149063.0,18996.0,1168059.0
18,2023-05,Bank Asing dan Bank Campuran,NaN,NaN,NaN
19,2023-05,Bank Perkreditan Rakyat,NaN,NaN,NaN
20,2023-06,Bank Pemerintah,13714060.0,2519640.0,16233699.0
21,2023-06,Bank Swasta Nasional,1180373.0,18629.0,1199002.0
22,2023-06,Bank Asing dan Bank Campuran,NaN,NaN,NaN
23,2023-06,Bank Perkreditan Rakyat,NaN,NaN,NaN
24,2023-07,Bank Pemerintah,13666445.0,2440861.0,16107306.0
25,2023-07,Bank Swasta Nasional,1185713.0,18375.0,1204088.0
26,2023-07,Bank Asing dan Bank Campuran,NaN,NaN,NaN
27,2023-07,Bank Perkreditan Rakyat,NaN,NaN,NaN
28,2023-08,Bank Pemerintah,NaN,NaN,NaN
29,2023-08,Bank Swasta Nasional,1.0,NaN,NaN
30,2023-08,Bank Asing dan Bank Campuran,NaN,NaN,NaN
31,2023-08,Bank Perkreditan Rakyat,NaN,NaN,NaN
32,2023-09,Bank Pemerintah,NaN,NaN,NaN
33,2023-09,Bank Swasta Nasional,NaN,NaN,NaN
34,2023-09,Bank Asing dan Bank Campuran,1.0,NaN,NaN
35,2023-09,Bank Perkreditan Rakyat,NaN,NaN,NaN
36,2023-10,Bank Pemerintah,1.0,NaN,NaN
37,2023-10,Bank Swasta Nasional,NaN,NaN,NaN
38,2023-10,Bank Asing dan Bank Campuran,NaN,NaN,NaN
39,2023-10,Bank Perkreditan Rakyat,NaN,NaN,NaN
40,2023-11,Bank Pemerintah,NaN,NaN,NaN
41,2023-11,Bank Swasta Nasional,NaN,NaN,NaN
42,2023-11,Bank Asing dan Bank Campuran,NaN,NaN,NaN
43,2023-11,Bank Perkreditan Rakyat,1.0,NaN,NaN
44,2023-12,Bank Pemerintah,13646466.0,2446997.0,16093463.0
45,2023-12,Bank Swasta Nasional,1324795.0,17574.0,1342369.0
46,2023-12,Bank Asing dan Bank Campuran,NaN,NaN,NaN
47,2023-12,Bank Perkreditan Rakyat,NaN,NaN,NaN
48,2024-01,Bank Pemerintah,13646466.0,2446997.0,16093463.0
49,2024-01,Bank Swasta Nasional,1324795.0,17574.0,1342369.0
50,2024-01,Bank Asing dan Bank Campuran,NaN,NaN,NaN
51,2024-01,Bank Perkreditan Rakyat,NaN,NaN,NaN

In [319]:
data_bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tanggal        52 non-null     object
 1   Tipe Komponen  52 non-null     object
 2   Aktiva Rupiah  21 non-null     float64
 3   Valuta Asing   16 non-null     float64
 4   Jumlah Aset    17 non-null     float64
dtypes: float64(3), object(2)
memory usage: 2.2+ KB